<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FPPopoverDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>fppopover.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1830E9FE15504F5C00A8776B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1830EA151550504100A8776B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>186C436E1538512100502D64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D8FA2F155050F0005E2222</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
